body {
  background-color: white;
  font-family: Montserrat;
  margin: 0;
}



.headerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
}



#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  display: none;
  background-color: #279be9; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reset {
  display: none;
  background-color: #b92121;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#player1 {
  align-content: center;
  justify-content: center;
  align-items: center;
}

#player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player1char {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-size: 185px 200px;

}

#player2char {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-size: 185px 200px;
}

#hideall {
  display: none;
  text-align: center;
}


#cards {

  margin-left: 150px;
}


.characters {
  background-color: white;
  color: black;
  float: left;
  width: 17%;
  height: 235px;
  margin: 0 20px 40px 0;
  border: 2px solid #1A1B41;
  font-family: Montserrat;
  text-align: center;
  cursor: pointer;
}


.char-img {
  width: 100px;
  height: 100px;
}

.char-title {
  color: #6D4C3D;
}

#playerone {
  position: absolute;
  top: 755px;
  left: 755px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #727D71;
  background-image: url("../img/player1.png");
  z-index: 2;
}
#playertwo {
  position: absolute;
  top: 795px;
  left: 795px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #6D4C3D;
  background-image: url("../img/player2.png");
  z-index: 2;
}

[id="1"] {
background-color: #91a2ac;
}

  [id="3"] {
  background-color: #91a2ac;
  }

  [id="5"] {
    background-color: #91a2ac;
    }

    [id="7"] {
      background-image: url("../img/bridge.png");
      }

      [id="9"] {
        background-color: #91a2ac;
        }

        [id="11"] {
          background-color: #91a2ac;
          }

          [id="13"] {
            background-color: #91a2ac;
            }

            [id="15"] {
              background-color: #91a2ac;
              }

              [id="17"] {
                background-image: url("../img/duel.png");
                }

                [id="19"] {
                  background-color: #91a2ac;
                  }

                  [id="21"] {
                    background-color: #91a2ac;
                    }
                    [id="23"] {
                      background-color: #91a2ac;
                      }
                      [id="25"] {
                        background-image: url("../img/town.png");
                        }
                        [id="27"] {
                          background-color: #91a2ac;
                          }
                          [id="29"] {
                            background-image: url("../img/castle.png");
                            }

                            [id="0"] {
                              background-color: #0e110a;
                              }
                              
                              [id="2"] {
                                background-color: #0e110a;
                                }
                              
                                [id="4"] {
                                  background-color: #0e110a;
                                  }
                              
                                  [id="6"] {
                                    background-color: #0e110a;
                                    }
                              
                                    [id="8"] {
                                      background-color: #0e110a;
                                      }
                              
                                      [id="10"] {
                                        background-color: #0e110a;
                                        }
                              
                                        [id="12"] {
                                          background-color: #0e110a;
                                          }
                              
                                          [id="14"] {
                                            background-image: url("../img/snow.png");
                                            }
                              
                                            [id="16"] {
                                              background-color: #0e110a;
                                              }
                              
                                              [id="18"] {
                                                background-color: #0e110a;
                                                }
                              
                                                [id="20"] {
                                                  background-image: url("../img/mountain.png");
                                                  }
                                                  [id="22"] {
                                                    background-color: #0e110a;
                                                    }
                                                    [id="24"] {
                                                      background-color: #0e110a;
                                                      }
                                                      [id="26"] {
                                                        background-color: #0e110a;
                                                        }
                                                        [id="28"] {
                                                          background-color: #0e110a;
                                                          }




.boardback {
  margin-top: 0px;
  margin-left: 0px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}


.tile {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

#playerPlaceholder {
color: #727D71;
}

#player2Placeholder {
  color: #6D4C3D;
  }

  #gplayerPlaceholder {
    position: absolute;
    top: 200px;
    left: 1300px;
    color: #727D71;
    font-weight: bold;
    }
    
    #gplayer2Placeholder {
      position: absolute;
      top: 500px;
      left: 1300px;
      color: #6D4C3D;
      font-weight: bold;
      }

    
#imageplayer {
  position: absolute;
  top: 230px;
  left: 1300px;
  height: 200px;
  width: 200px;
  background-size: 185px 200px;

}

#image2player {
  position: absolute;
  top: 530px;
  left: 1300px;
  height: 200px;
  width: 200px;
  background-size: 185px 200px;
}

.leftarrow1
{
  position: absolute;
  left: 295px;
  top: 700px;
}

.leftarrow2
{
  position: absolute;
  left: 295px;
  top: 500px;
}

.leftarrow3
{
  position: absolute;
  left: 295px;
  top: 300px;
}


.rightarrow1
{
  position: absolute;
  left: 860px;
  top: 600px;
}

.rightarrow2
{
  position: absolute;
  left: 860px;
  top: 400px;
}

#goesfirst {
  position: absolute;
  top: 130px;
  left: 1300px;
}

#turn {
  position: absolute;
  top: 400px;
  left: 1550px;
}



#roll-button {
  position: absolute;
  left: 1600px;
  top: 450px;
  background-color: #279be9; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#roll-button:hover {
  background-color: #0d1a22; 

}


#dice {
  width: 50px;
  height: 40px;
  position: absolute;
  left: 1530px;
  top: 440px;
  text-align: center;
}

#lastroll {
  position: absolute;
  left: 1450px;
  top: 445px;
  text-align: center;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  height: 50px;
  text-align: center;
  border: 1px solid #888;
  width: 80%; 
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#winner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-size: 465px 500px;
}

#congrats {
margin-top: 50px;
text-align: center;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

    #resetwin {
      display: block;
      background-color: #b92121;
      color: white;
      font-family: montserrat;
      margin-left: auto;
      border-style: none;
      margin-right: auto;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }


@media only screen and (max-width: 1000px) {

  .headerpic {
    width: 100%;
    margin-bottom: 10px;
  }

  #cards {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

.characters {
  background-color: white;
  color: black;
  width: 100%;
  border: 2px solid #000;
  font-family: Montserrat;
  text-align: center;
  cursor: pointer;
}

}